* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

body::before {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                    url('./assets/fondo-pantalla-arboles.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  color: #ffffff;
}

.info-productos h1 {
  margin-bottom: 2rem;
  color: #f0f0f0; 
}

.info-productos {
  color: #ffffff;
  margin: 2rem auto;
  line-height: 1.6;
  max-width: 100rem;
  font-size: 1.2rem;
  margin-bottom: -3rem;
}

.info-productos strong {
  color: #a8e063;
}

.direccion {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #161313;
  padding: 3rem;
}

.sobre-nosotros {
  color: #ffffff;
  margin: 5rem;
  flex-direction: column;
  flex: 1; 
}

.direccion iframe {
  max-width: 800px;
  width: 100%;
  height: 600px;
  border-radius: 15px;
  margin: 3rem;
}

.direccion h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.direccion p {
  max-width: 800px;
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.servicios_1 {
  width: 70vw;
  height: 29vh;
  margin-left: 15rem;
  padding: 2rem;
  text-align: center;
  background-color: #547e49da;
  color: #f0f0f0;
  border-radius: 34px;
}

.info_h2 {
  gap: 2rem;
}

.info_servicios_1 {
  margin-top: 2rem;
  text-align: center;
}

.servicios_2 {
  background-color: aqua;
  width: 100%;
  min-height: 105vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.servicios_2 div {
  text-align: center;
  max-width: 300px;
}

.servicios_2 p {
  margin-bottom: 1rem;
}

.fotos {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 10px;
}